@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position: relative;
  z-index: 2;
}

body {
  color: #fff;
  height: 100%;
  font-family: 'Walter Turncoat', sans-serif;
}

.footer {
  position:absolute;
   bottom:0;
   width:100%;
   height:40px; 
  text-align: center;
  bottom: 0;
  left: 0;
  font-size: 0.8em;
  color: #fff;
  background-color: #333;
}
.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.quote-box {
  border-radius: 3px;
  position: relative;
  margin: 1% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
}

.quote-box .quote-text {
  text-align: center;
  width: 600px;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
  vertical-align: middle;
}

.quote-box .quote-text span {
  font-size: 50pt;
}

.quote-box .quote-text i {
  font-size: 1.0em;
  margin-right: 0.4em;
}
.quote-box .quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}
#tweet-quote img {
  width:25px;
  cursor: pointer;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}
.footer #new-quote {
  text-align: center;
  font-size: 1.2em;
  margin-top: 7px;
  display: inline-block;
  cursor: pointer;
}
